.main-header{
  height: 30vw;
  width: 150%;
  background: linear-gradient(90deg, var(--ion-color-danger)10%, var(--ion-color-primary)100%);
  box-shadow: 0 1px 10px var(--ion-color-light);
  border-radius: 0% 0% 50% 50%;
  margin-left: -24vw;
  margin-top: -60px;
}
