<ion-split-pane contentId="main">
  <!--MENU-->
  <!--<ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
            BIENVENIDO
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let pagina of paginas; let i = index">
          <ion-item (click)="cambiarIndiceSeleccionado(i)" routerDirection="root" [routerLink]="[pagina.url]"
            lines="none" detail="false" [class.selected]="indiceSeleccionado == i">
            <ion-icon slot="start" [name]="pagina.icono + '-outline'"></ion-icon>
            <ion-label>{{pagina.titulo}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item href="https://wa.me/51951767481?text=Hola" target="_blank" lines="none" detail="false">
            <ion-icon slot="start" [name]="'help'"></ion-icon>
            <ion-label>Ayuda</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="salir()" routerDirection="root" lines="none" detail="false">
            <ion-icon slot="start" [name]="'exit-outline'"></ion-icon>
            <ion-label>Salir</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>-->
  <ion-router-outlet id="main" main></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button style="background: #fdfdfd;" [tab]="'inicio'">
        <ion-icon [name]="'home-outline'"></ion-icon>
        <ion-label >Inicio</ion-label>
      </ion-tab-button>
      <ion-tab-button style="background: #fdfdfd;" (click)="setOpenPay(true, 'CALIFICACIONES')">
        <ion-icon [name]="'clipboard-outline'"></ion-icon>
        <ion-label >Calificaciones</ion-label>
      </ion-tab-button>
      <ion-tab-button style="background: #fdfdfd;">
        <ion-icon [name]="'play-circle-outline'"></ion-icon>
        <ion-label >Vivo</ion-label>
      </ion-tab-button>
      <ion-tab-button style="background: #fdfdfd;" (click)="setOpenPay(true, 'PAGOS')">
        <ion-icon [name]="'card-outline'"></ion-icon>
        <ion-label>Mis Pagos</ion-label>
      </ion-tab-button>
      <ion-tab-button style="background: #fdfdfd;" [tab]="'perfil'">
        <ion-icon [name]="'person-outline'"></ion-icon>
        <ion-label >Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <!--MODAL-->
  <ion-modal id="modal" #modal [isOpen]="isModalPay"  trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar style="--background: #2E3541">
          <ion-title>Escoge un Diplomado</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="setOpenPay(false, null)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <app-modal [courses]="courses" [tipo]="tipo" (miEvento)="navegar( $event)"></app-modal>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-split-pane>
