<ion-header>
  <ion-toolbar>
    <ion-icon (click)="volver()" slot="start" name="arrow-back-outline"></ion-icon>
    <ion-title>DIPLOMADO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-margin-horizontal">
      <ion-col class="ion-text-center" size="12">
        <ion-chip style="background: #2E3541;color: white; font-weight: bold ">
          <ion-text>{{diplomado}}</ion-text>
        </ion-chip>
      </ion-col>
      <ion-col *ngFor="let item of modules" size="12">
        <ion-card button="true" detail="false" (click)="detalle(item.name_module)">
          <ion-card-header>
            <ion-row>
              <ion-col size="11">
                <ion-text style="font-size: 4vw; color: #2E3541; font-weight: bold">{{item?.name_module}}</ion-text>
              </ion-col>
              <ion-col size="1">
                <ion-icon style="color: #2E3541" name="school-outline"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="12">
                <ion-label *ngIf="item.link.profesor" style="font-size: 3vw;" color="dark"><b style="color: #fd5000">Docente: </b>{{item.link.profesor}}</ion-label>
                <ion-label *ngIf="!item.link.profesor" style="font-size: 3vw;" color="dark">Sin Docente</ion-label>
              </ion-col>
              <div *ngFor="let clase of item.clases; let i = index">
                <ion-col size="6">
                  <ion-label style="font-size: 2.7vw;" color="dark">
                    <b style="color: #fd5000">Clase {{i+1}}: </b>{{clase.fecha_clase*1000 | date:'d/MM/y HH:mm'}}
                  </ion-label>
                </ion-col>
              </div>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
