<ion-toolbar>
  <div class="main-header">
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-label style="color: white">Regresar</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title style="color: white">DIPLOMADO</ion-title>
  </div>
</ion-toolbar>
<ion-content>
  <ion-grid>
    <ion-row class="ion-margin-horizontal">
      <ion-col *ngFor="let item of features" size="12">
        <ion-card>
          <ion-row>
            <ion-col size="10">
              <ion-text style="font-size: 1.5vh; margin-left: 15px; color: #fd5000; font-weight: bold">{{item?.name}}</ion-text>
            </ion-col>
            <ion-col size="2">
              <ion-avatar style="background: #fd5000">
                <img [src]="item?.src"/>
              </ion-avatar>
            </ion-col>
          </ion-row>
<!--          <ion-card-content>
            <ion-label style="font-size: 1.7vh;" color="dark">{{item?.name}}</ion-label>
          </ion-card-content>-->
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--<ion-card>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12  img-fondo">
        <div class="contenedor">
          <img [src]="!!img ? img : 'https://oea-files.s3.amazonaws.com/diplomados/IMG-INICIO-PLATAFORMA/Portada++pagina+web-02.jpg'"  alt="">
          &lt;!&ndash;https://oea-files.s3.amazonaws.com/web_backend/alumno/baner_alumno_aula_1700-300.png&ndash;&gt;
          <div class="centrado">
            <h3> <b class="bg-oea">{{course_name}}</b></h3>
          </div>
        </div>
      </div>
    </div>
    <ion-card-content>
      <ion-accordion-group expand="inset">
        <ion-accordion *ngFor="let module of modules; let i = index" value="{{module.num_module}}">
          <ion-item slot="header" color="{{module.bg_color}}">
            <ion-label>{{module.name_module}}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-accordion-group expand="inset">
              <ion-accordion value="0">
                <ion-item slot="header" color="warning">
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-video" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z"/>
                    </svg>
                  </span>
                  <ion-label>Clases</ion-label>
                </ion-item>
                <ion-item slot="content" color="light">
                  <div class="centro">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <br>
                        <a href="javascript:void(0)" class="parpadea" *ngIf="module.link.status" (click)="abrirLink(module.link.url_clase,module.id, module.link.diplomado_clase_id)" target="_blank" >
                          <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-camera-reels live" viewBox="0 0 16 16">
                            <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"/>
                            <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"/>
                            <path d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                          </svg>
                        </a>
                        <a href="javascript:void(0)"  target="_blank" *ngIf="!module.link.status">
                          <svg   xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-camera-reels change-my-color" viewBox="0 0 16 16">
                            <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"/>
                            <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"/>
                            <path d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                          </svg>
                        </a>
                        <a href="" *ngIf="!module.link.status" ><h6 class="mt-2 text-color-class-online ">Clase en vivo</h6></a>
                        <a (click)="abrirLink(module.link.url_clase,module.id, module.link.diplomado_clase_id)"
                           href="javascript:void(0)" *ngIf="module.link.status" class="parpadea text-danger">
                          <h6 class="mt-2">
                            Clase en vivo
                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                              <circle cx="8" cy="8" r="8"/>
                            </svg>
                          </h6>
                        </a>
                      </div>
                    </div>
                  </div>
                </ion-item>
              </ion-accordion>
              <ion-accordion value="1">
                <ion-item (click)="clasesGrabadas(module.id)" slot="header" color="warning">
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-film" viewBox="0 0 16 16">
                        <path d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm4 0v6h8V1H4zm8 8H4v6h8V9zM1 1v2h2V1H1zm2 3H1v2h2V4zM1 7v2h2V7H1zm2 3H1v2h2v-2zm-2 3v2h2v-2H1zM15 1h-2v2h2V1zm-2 3v2h2V4h-2zm2 3h-2v2h2V7zm-2 3v2h2v-2h-2zm2 3h-2v2h2v-2z"/>
                    </svg>
                  </span>
                  <ion-label>Clases Grabadas</ion-label>
                </ion-item>
                <ion-item slot="content" color="light">
                  <div>
                    <div class="centro">
                      <br>
                      <p>Clases grabadas</p>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 mb-2" *ngFor="let recording of grabacion">
                        <ion-card>
                          <div class="card-det-modu" *ngIf=" recording.modulo_id === module_id ">
                            <div class="container" style="display: inline-flex;" *ngIf="recording.clase.data_class.url_clase_grabada">
                              <div class="mx-2 text-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-play-fill" viewBox="0 0 16 16">
                                  <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6 6.883a.5.5 0 0 1 .757-.429l3.528 2.117a.5.5 0 0 1 0 .858l-3.528 2.117a.5.5 0 0 1-.757-.43V6.884z"/>
                                </svg>
                              </div>
                              <h6>
                                <a class="pull-left" target="_blank" (click)="checkAsistencia(module.id,recording.id)" href="{{recording.clase.data_class.url_clase_grabada}}" >
                                  {{recording.clase.data_class.name_video_clase}}
                                </a>
                              </h6>
                            </div>
                          </div>
                        </ion-card>
                      </div>
                    </div>
                  </div>
                </ion-item>
              </ion-accordion>
              <ion-accordion value="2">
                <ion-item (click)="getMaterials(i)" slot="header" color="warning">
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                    </svg>
                  </span>
                  <ion-label>Materiales</ion-label>
                </ion-item>
                <ion-item slot="content" color="light">
                  <div>
                    <div class="centro">
                      <br>
                      <p>Portafolio</p>
                    </div>
                    <div *ngFor="let material of materials">
                      <ion-card>
                        <div class="mb-2">
                        <div class="container" style="display: inline-flex;">
                          <div class="text-danger mx-2" *ngIf="material.mat_icon === 'pdf'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z"/>
                            </svg>
                          </div>
                          <div class="text-success mx-2" *ngIf="material.mat_icon === 'xls'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-excel" viewBox="0 0 16 16">
                              <path d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z"/>
                              <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                            </svg>
                          </div>
                          <div class="text-info mx-2" *ngIf="material.mat_icon === 'doc'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-word" viewBox="0 0 16 16">
                              <path d="M5.485 6.879a.5.5 0 1 0-.97.242l1.5 6a.5.5 0 0 0 .967.01L8 9.402l1.018 3.73a.5.5 0 0 0 .967-.01l1.5-6a.5.5 0 0 0-.97-.242l-1.036 4.144-.997-3.655a.5.5 0 0 0-.964 0l-.997 3.655L5.485 6.88z"/>
                              <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                            </svg>
                          </div>
                          <div class="text-warning mx-2"  *ngIf="material.mat_icon === 'ppt'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-filetype-ppt" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm2.817-1.333h-1.6v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474.108-.201.161-.427.161-.677 0-.25-.052-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.793.793 0 0 1-.375.082H4.15V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm2.767-.67v3.336H7.48v-3.337H6.346v-.662h3.065v.662H8.274Z"/>
                            </svg>
                          </div>
                          <h6>
                            <a class="pull-left text-dark" href="{{material.mat_url_doc}}" target="_blank">
                              {{material.mat_name}}
                            </a>
                          </h6>
                        </div>
                      </div>
                      </ion-card>
                    </div>
                  </div>
                </ion-item>
              </ion-accordion>
              <ion-accordion value="3">
                <ion-item (click)="getWorkshops(i)" slot="header" color="warning">
                  <span>
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                        <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                     </svg>
                  </span>
                  <ion-label>Talleres</ion-label>
                </ion-item>
                <ion-item slot="content" color="light">
                  <div>
                    <div class="centro">
                      <br>
                      <p>Talleres</p>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 mb-2" *ngFor="let workshop of workshops">
                        <ion-card>
                          <h6><a href="{{workshop.url_documento}}">{{workshop.taller_name}}</a></h6>
                        </ion-card>
                      </div>
                    </div>
                  </div>
                </ion-item>
              </ion-accordion>
              <ion-accordion value="4">
                <ion-item (click)="getEvaluationsHans(module.id)" slot="header" color="warning">
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-medical" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v.634l.549-.317a.5.5 0 1 1 .5.866L9 6l.549.317a.5.5 0 1 1-.5.866L8.5 6.866V7.5a.5.5 0 0 1-1 0v-.634l-.549.317a.5.5 0 1 1-.5-.866L7 6l-.549-.317a.5.5 0 0 1 .5-.866l.549.317V4.5A.5.5 0 0 1 8 4zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                    </svg>
                  </span>
                  <ion-label>Evaluaciones</ion-label>
                </ion-item>
                <ion-item slot="content" color="light">
                  <div>
                    <div class="centro">
                      <br>
                      <p>Evaluaciones</p>
                    </div>
                    <div class="tab-pane fade show" id="evaluations2" role="tabpanel" aria-labelledby="video-link">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 mb-2" *ngFor="let evaluation of evaluations">
                          <ion-card>
                            <h6><a href="javascript:void(0)" (click)="action_Evaluation(module.id,evaluation.id)">{{evaluation.evaluation_form.name}}</a></h6>
                          </ion-card>
                        </div>
                      </div>
                    </div>
                  </div>
                </ion-item>
              </ion-accordion>
            </ion-accordion-group>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>
  </ion-card>-->
</ion-content>
