ion-toolbar{
  --background: transparent;
  .main-header{
    height: 15vh;
    width: 150%;
    background: linear-gradient(90deg, var(--ion-color-danger)10%, var(--ion-color-primary)100%);
    box-shadow: 0 1px 10px var(--ion-color-light);
    border-radius: 50% 50% 50% 50%;
    margin-left: -12vh;
    margin-top: -60px;
  }
}
ion-grid{
  top: 0;
  left: 0;
  position: absolute;
  margin-top: 15px;
  ion-row{
    ion-col{
      ion-card{
        box-shadow: -1px 11px 13px -6px rgba(142, 134, 125, 0.41);
        border-radius: 10px !important;
        margin: 0;
        //background: linear-gradient(90deg, var(--ion-color-danger)10%, var(--ion-color-primary)100%);
        background: white;
        border-top: 3px solid #fd5000;
        /*.modulo{
          display: flex;
          align-items: center;
        }*/
        ion-thumbnail{
          width: 5vh;
          height: 5vh;
          border-radius: 10px;
          background: white;// rgba(255, 167, 123, 0.45);
          img{
            width: 3vh ;
            height: 3vh;
            transform: translateY(40%);
          }
        }
      }
    }
  }
}
/*
.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}
.texto-encima{
  position: absolute;
  top: 10px;
  left: 10px;
}
.centrado{
  position: absolute;
  top: -15%;
  left: 45%;
}
.centro{
  text-align: center;
}
.bg-oea{
  font-size: 3vw;
  color: white;
}
.card-det-modu {
  border: 0px, 0px, 0px, 9px ;
  border-radius: 30px;
}
.parpadea {
  animation-name: parpadeo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
*/
