ion-header{
  background: #f4f5f8;
  ion-toolbar{
    --background: linear-gradient(90deg, var(--ion-color-danger)10%, var(--ion-color-primary)100%);
    height: 15vw;
    border-radius: 0% 0% 30% 30%;
    box-shadow: 0 1px 10px var(--ion-color-light);
    ion-title{
      margin-top: 2vw;
      font-size: 5vw;
      color: white;
    }
    ion-icon{
      margin-top: 2.5vw;
      margin-left: 4vw;
      color: white;
      font-size: 6vw;
    }
  }
}
ion-content{
  --background: #f4f5f8;
  *{
    font-family: Arial;
  }
  .check{
    margin-top: 7vw;
    display: flex;
    align-items: center;
  }
}
ion-grid{
  --ion-grid-column-padding: 10px;
  border-collapse: collapse;
  border-style: hidden;
  /*  top: 0;
    left: 0;
    position: absolute;
    margin-top: 15px;*/
  ion-row{
    ion-col{
      ion-card{
        box-shadow: -1px 11px 13px -6px rgba(142, 134, 125, 0.41);
        border-radius: 3px !important;
        margin: 0;
        //background: linear-gradient(90deg, var(--ion-color-danger)10%, var(--ion-color-primary)100%);
        background: white;
        border-left: 10px solid #fd5000;
        ion-icon{
          font-size: 8vw;
          margin-top: -10px;
        }
        ion-text{
          font-size: 4vh;
          font-weight: bold;
          color: black;
        }
        ion-card-content{
          margin-top: -15px;
        }
      }
    }
  }
}

.tabla-col{
  border-left: 1px solid #2E3541;
  border-bottom: 0;
  border-right: 0;
}

.center{
  text-align: center;
}

ion-modal{
  ion-content{
    --background: white;
  }
}

#modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

#modal::part(backdrop) {
  background: white;
}

.ion-margin{
  font-size: 10px;
}
.copiar{
  border-radius: 5px;
  background-color: #F6785D;
  border: none;
  color: white;
  margin-bottom: 10px;
}
.nuevo{
  border-radius: 10px;
  background: #4d4d4d;
  color: #fd5000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}
.new{
  border-radius: 5px;
  background: #4d4d4d;
  color: #fd5000;
  text-align: center;
}
.borders{
  border-color: #383d41;
}
