<div class="peeek-loading">
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="ion-text-center" style="margin-top: 115vw;color: white;">
    <img src="../../../assets/image/logo_blanco.png">
    <!--<h1 style=" text-shadow: 0.1em 0.1em 0.2em black"><b>OEA EDUCACIÓN</b></h1>-->
  </div>
  <!--<div class="ion-text-center" style="margin-top: 65vw;">
    <img src="../../../assets/image/logo_blanco.png">
  </div>-->
</div>
