ion-header{
  background: transparent;
  display: flex;
  justify-content: center;
  ion-item{
    --background: transparent;
    ion-avatar{
      background: transparent;
    }
  }
}
ion-content{
  *{
    font-family: Calibri;
  }
  .main-header{
    height: 98vw;
    width: 150%;
    background: linear-gradient(90deg, var(--ion-color-danger)10%, var(--ion-color-primary)100%);
    box-shadow: 0 1px 10px var(--ion-color-light);
    border-radius: 0 0 50% 50%;
    margin-left: -14vh;
    margin-top: -60px;
  }
  ion-grid{
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding-bottom: 8vh;
    transform: translateY(10vh);
    margin-top: 15px;
    ion-row{
      ion-col{
        ion-label{
          font-size: 1rem;
        }
        ion-chip{
          ion-label{
            color: white;
            font-size: 1rem;
            font-weight: bold;
            letter-spacing: 0.5px;
            text-shadow: 1px 1px 1px var(--ion-color-medium);
          }
        }
        ion-button{
          height: 3em !important;
          transform: translateY(10%);
          text-transform: none;
          ion-text{
            font-size: 0.7rem;
            font-weight: bold;
            text-shadow: 1px 1px 1px var(--ion-color-medium);
          }
          ion-icon{
            font-size: 1rem;
          }
        }
        ion-card{
          box-shadow: -1px 11px 13px -6px rgb(87,86,86);
          border-radius: 10px !important;
          margin: 10px 0;
          ion-thumbnail{
            width: 20vw;
            height: 20vw;
            border-radius: 20px;
            background: rgba(250, 81, 0, 0.35);
            img{
              width: 10vw;
              height: 10vw;
              transform: translateY(50%);
            }
          }
        }
      }
    }
    ion-list{
      background: transparent;
      ion-card{
        border-left: 6px solid #fd5000;
        width: 100%;
        border-radius: 5px;
        background: white;
        height: 20vw;
        box-shadow: -1px 11px 13px -6px rgba(142, 134, 125, 0.41) !important;
        ion-label{
          font-size: 4vw;
        }
        ion-icon{
          font-size: 10vw;
          margin-top: -10px;
        }
      }
    }
  }
}
ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}
