<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding ion-text-center">
      <a routerLink='/'>
        <img src="https://oea-files.s3.amazonaws.com/web/oea+onu_.png" alt="looginpage">
      </a>
      <h1>CAMBIO DE CONTRASEÑA</h1>
    </div>
    <div class="ion-padding login-form">
      <form [formGroup]="editPassword">
        <div class="form-input">
          <ion-item>
            <ion-label position="floating">Nueva Contraseña</ion-label>
            <ion-input  #passwordEyeRegister  [type]="passwordTypeInput"  formControlName="password_new"></ion-input>
            <button  item-end  class="btn_eye_icon"  (click)="togglePasswordMode()">
              <ion-icon  [name]="iconpassword"></ion-icon>
            </button>
          </ion-item>
        </div>
        <div class="form-input">
          <ion-item>
            <ion-label position="floating">Repetir Contraseña</ion-label>
            <ion-input [type]="'password'" placeholder="" formControlName="password_confirmar">
              <ion-icon name="lock-closed-outline"></ion-icon>
            </ion-input>
          </ion-item>
        </div>
      </form>
    </div>
    <div class="action-buttons ion-padding">
      <ion-button size="large" class="login-button" [disabled]="!editPassword.valid" (click)="resetPassword()">Enviar</ion-button>
    </div>
  </div>
</ion-content>
