<ion-header>
  <ion-toolbar>
    <ion-icon (click)="volver()" slot="start" name="arrow-back-outline"></ion-icon>
    <ion-title>CALIFICACIONES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-margin-horizontal">
      <ion-col class="ion-text-center" size="12" *ngIf="courses">
        <ion-chip style="background: #2E3541;color: white; font-weight: bold " >
          <ion-text>{{courses.courses_name}}</ion-text>
        </ion-chip>
        <ion-chip style="background: #fd5000;color: white; font-weight: bold " >
          <ion-text>Promedio Final: {{courses.promedio_final}}</ion-text>
        </ion-chip>
      </ion-col>
      <ion-col *ngFor="let item of modules" size="12">
        <ion-card>
          <ion-card-header>
            <ion-row>
              <ion-col size="11">
                <ion-text style="font-size: 4vw; color: #2E3541; font-weight: bold">{{item?.module_name}}</ion-text>
              </ion-col>
              <ion-col size="1">
                <ion-icon style="color: #2E3541" name="school-outline"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <ion-grid class="ion-margin">
              <ion-row class="ion-text-center" style="border: 1px solid #fd5000; background: #2E3541;
               font-size: 3.5vw; color: white">
                <ion-col size="3">Final</ion-col>
                <ion-col size="3" style="border-left: 1px solid white;">Taller</ion-col>
                <ion-col size="3" style="border-left: 1px solid white;">Susti</ion-col>
                <ion-col size="3" style="border-left: 1px solid white;">Cargo</ion-col>
              </ion-row>
              <ion-row class="ion-text-center" style="border: 1px solid #fd5000; font-size: 4vw; font-weight: bold">
                <ion-col *ngFor="let nota of item.detalle_nota" style="border: 1px solid #fd5000;" size="3">{{nota.nota}}</ion-col>
                <!--
                <ion-col size="4" style="border-left: 1px solid #fd5000;">20</ion-col>
                <ion-col size="4" style="border-left: 1px solid #fd5000;">15</ion-col>-->
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
