<ion-toolbar>
  <div class="main-header">
    <!--<ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-label style="color: white">Regresar</ion-label>
      </ion-button>
    </ion-buttons>-->
    <ion-title>
      <ion-label style="color: white; font-size: 6vw">CALIFICACIONES</ion-label>
    </ion-title>
  </div>
</ion-toolbar>
<ion-content>
  <!--<ion-accordion-group expand="inset">
    <ion-accordion *ngFor="let course of courses" value="{{course.courses_name}}">
      <ion-item (click)="getModules(course.courses_code)" slot="header" color="primary">
        <ion-label>{{course.courses_name}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-accordion-group expand="inset">
          <ion-accordion *ngFor="let item of modules" value="{{item.module_number}}">
            <ion-item (click)="getRecords(item.module_number)" slot="header" color="light">
              <ion-label>{{item.module_name}}</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" color="dark">
              <div class="centro">
                <ion-row *ngFor="let record of records">
                  <ion-col>
                    <p style="font-size: 13px; font-family: 'Century Gothic';">{{record.name_evaluacion}}</p>
                  </ion-col>
                  <ion-col>
                    <p>
                      <button type="button" class="btn-subnota" style="width: 55px; color: black;padding: 0px;text-align: center;" readonly>
                        {{record.nota}}
                      </button>
                    </p>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </ion-accordion>
          <br>
          <div style="display: flex; background-color: #fd5000; border-radius: 5px">
            <div class="">
              <label class="" style="font-size: 12px; color: white; margin-left: 10px">PROMEDIO FINAL</label>
            </div>
            <div>
              <label class="" type="text" style="padding-right: 20px;
                  margin-left: 60px;width: auto; background-color: white;color: white;">
                HOlaaaaa
              </label>
            </div>
          </div>
        </ion-accordion-group>
      </div>
    </ion-accordion>
  </ion-accordion-group>-->
  <ion-grid>
    <ion-row class="ion-margin-horizontal">
      <ion-col class="ion-text-center" size="12" *ngIf="courses">
        <ion-chip style="background: #2E3541;color: white; font-weight: bold " >
          <ion-text>{{courses.courses_name}}</ion-text>
        </ion-chip>
      </ion-col>
      <ion-col *ngFor="let item of modules" size="12">
        <ion-card>
          <ion-card-header>
            <ion-row>
              <ion-col size="11">
                <ion-text style="font-size: 4vw; color: #2E3541; font-weight: bold">{{item?.module_name}}</ion-text>
              </ion-col>
              <ion-col size="1">
                <ion-icon style="color: #2E3541" name="school-outline"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
                <ion-grid class="ion-margin">
                  <ion-row class="ion-text-center" style="border: 1px solid #fd5000; background: #2E3541;
                   font-size: 3.5vw; color: white">
                    <ion-col size="4">Final</ion-col>
                    <ion-col size="4" style="border-left: 1px solid white;">Sustitorio</ion-col>
                    <ion-col size="4" style="border-left: 1px solid white;">Taller</ion-col>
                  </ion-row>
                  <ion-row class="ion-text-center" style="border: 1px solid #fd5000; font-size: 4vw; font-weight: bold">
                    <ion-col size="4">02</ion-col>
                    <ion-col size="4" style="border-left: 1px solid #fd5000;">20</ion-col>
                    <ion-col size="4" style="border-left: 1px solid #fd5000;">15</ion-col>
                  </ion-row>
                </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12  img-fondo">
      <div class="contenedor">
        <img [src]="!!img ? img : 'https://oea-files.s3.amazonaws.com/diplomados/IMG-INICIO-PLATAFORMA/Portada++pagina+web-02.jpg'"  alt="">
        &lt;!&ndash;https://oea-files.s3.amazonaws.com/web_backend/alumno/baner_alumno_aula_1700-300.png&ndash;&gt;
        <div class="centrado">
          <h3> <b class="bg-oea">{{course_name}}</b></h3>
        </div>
      </div>
    </div>
  </div>
  <ion-card>
    <ion-card class="card">
      <div class="center">
        <h2 id="nota1">
          <strong style="font-weight: bold;">Nota Final (Módulo)= </strong>
          Asistencia *20% <span style="font-weight: bold;">+</span> Nota Final *80%
        </h2>
      </div>
    </ion-card>
    <ion-accordion-group expand="inset">
      <ion-accordion *ngFor="let course of courses" value="{{course.course.courses_name}}">
        <ion-item (click)="getModules(course.course.courses_code)" slot="header" color="primary">
          <ion-label>{{course.course.courses_name}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-accordion-group expand="inset">
            <ion-accordion *ngFor="let item of modules" value="{{item.module_number}}">
              <ion-item (click)="getRecords(item.module_number)" slot="header" color="light">
                <ion-label>{{item.module_name}}</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content" color="dark">
                <div class="centro">
                  <ion-row *ngFor="let record of records">
                    <ion-col>
                      <p style="font-size: 13px; font-family: 'Century Gothic';">{{record.name_evaluacion}}</p>
                    </ion-col>
                    <ion-col>
                      <p>
                        <button type="button" class="btn-subnota" style="width: 55px; color: black;padding: 0px;text-align: center;" readonly>
                          {{record.nota}}
                        </button>
                      </p>
                    </ion-col>
                  </ion-row>
                </div>
              </div>
            </ion-accordion>
            <br>
            <div style="display: flex; background-color: #fd5000; border-radius: 5px">
              <div class="">
                <label class="" style="font-size: 12px; color: white; margin-left: 10px">PROMEDIO FINAL</label>
              </div>
              <div>
                <label class="" type="text" style="padding-right: 20px;
                  margin-left: 60px;width: auto; background-color: white;color: white;">
                  HOlaaaaa
                </label>
              </div>
            </div>
          </ion-accordion-group>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>
</ion-content>
-->
